.about {
  padding: 8em 18em;
  background-color: rgba(39, 218, 93, 0.9); /* Adjusted background color with opacity */
  text-align: left;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  background-size: cover; /* Ensure background image covers entire element */
  background-position: center; /* Center the background image */
  position: relative; /* Ensure positioning context for child elements */
  color: #fff; /* Text color for better contrast */
}

.title {
  font-size: 2.5em;
  color: whitesmoke;
  margin-bottom: 0.5em;
  text-align: center;
  animation: fadeInLeft 1s ease-out;
}

.description {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 2em;
  text-align: center;
  animation: fadeInRight 1s ease-out;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.tabs button {
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  border: 2px solid #333;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tabs button.active {
  background: #333;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.tabs button:hover {
  background: #333;
  color: #fff;
}

.section {
  margin-top: 2em;
}

.section-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.section-content {
  font-size: 1.1em;
  line-height: 1.6;
  color: #fff;
}

.internship-item,
.project-item {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  color: #333;
}

.company-name,
.project-name {
  font-size: 1em;
  color: #333;
}

.internship-details,
.project-description {
  font-size: 1em;
  color: #666;
}

.project-date {
  font-size: 1em;
  color: #666;
  margin-left: 1em;
}

/* Slider specific styles */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  float: none;
  height: auto;
  min-height: 1px;
  display: block;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex !important;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
  background-color: #333;
}
